<!DOCTYPE html>
<html>
<head>
	<title>Mushroom Mania</title>
</head>
<body ng-app="app">

	<input type="text" ng-model="searchText">
	<input type="radio" id="mushroom-type-poisonous" name="mushroom-type" value="poisonous" ng-model="edible" ng-value="false">
	<label for="mushroom-type-poisonous">Poisonous</label>
	<input type="radio" id="mushroom-type-non-poisonous" name="mushroom-type" value="non-poisonous" ng-model="edible" ng-value="true">
	<label for="mushroom-type-non-poisonous">Non-Poisonous</label>

	<div ng-controller="mushroomCtrl">
	  <ul>
	    <li ng-repeat="mushroom in mushrooms | filter: searchText | filter: edible"><h3>{{ mushroom.name }}</h3><p>{{ mushroom.description }}</p></li>
	  </ul>
	</div>


	<script src="angular.min.js"></script>
	<script src="app.js"></script>
</body>
</html>